<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity
            android:name=".XMLKotlinActivity"
            android:exported="true" />
        <activity
            android:name=".lifecycles.activity.MyActivity1"
            android:exported="true" />
        <activity
            android:name=".memory_leak.A1"
            android:exported="true" />
        <activity
            android:name=".memory_leak.A2"
            android:exported="true" />
        <activity
            android:name=".memory_leak.A3"
            android:exported="true" />
        <activity
            android:name=".window.WindowInsetsActivity"
            android:exported="true" />
    </application>
</manifest>