<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".service.LiveScoreService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="shortService"/>
        <receiver
            android:name=".receiver.LiveCricketScoreWidgetReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/live_score_widget_provider_info" />
        </receiver>
        <service
            android:name=".service.COVID19DataService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="shortService"/>

        <receiver
            android:name=".receiver.COVID19WidgetReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/covid_summary_app_widget_provider_info" />
        </receiver>
        <receiver
            android:name=".receiver.TodoListWidgetReceiver"
            android:enabled="@bool/glance_appwidget_available"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/todo_list_glance_widget_info" />
        </receiver>

        <receiver
            android:name=".receiver.WhatsAppWidgetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/whatsapp_glance_widget_info" />
        </receiver>
    </application>
</manifest>