<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!--Location-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <application
        android:name=".AndroidKotlinComposePracticeApp"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposePractice"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".drag_and_drop.DragAndDropActivity"
            android:exported="true" />

        <receiver android:name=".picture_in_picture.PipActivity$MyReceiver" />

        <activity
            android:name=".picture_in_picture.PipActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize|orientation"
            android:exported="true"
            android:label="PictureInPictureMode"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".pagination_vanilla.PVActivity"
            android:exported="false" />
        <activity
            android:name=".downloadable_fonts.DownloadableFontActivity"
            android:exported="false" />
        <activity
            android:name=".pagination.ui.PagedUserListActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines_cancellation.CoroutinesCancellationActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.android_kotlin_compose_practice.meditation_ui.MeditationHomeActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".datastore_protobufs.DatastoreProtobufActivity"
            android:exported="false"
            android:label="@string/title_activity_datastore_protobuf"
            android:theme="@style/Theme.ComposePractice" />
        -->
        <!-- <activity -->
        <!-- android:name=".compose_states.ComposeStatesActivity" -->
        <!-- android:exported="false" /> -->
        <service
            android:name="dev.vengateshm.android_kotlin_compose_practice.stopwatch.service.StopWatchService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="dev.vengateshm.android_kotlin_compose_practice.location_updates.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <!--        android:windowSoftInputMode="adjustResize"-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting.IconBackground"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".crypto.CryptoActivity" />
        <activity
            android:name=".animations.ComposeAnimationActivity"
            android:exported="true" />
        <activity android:name=".flow_lifecycle.FlowLifeCycleActivity" />
        <activity
            android:name=".navigation_deeplink.NavDeepLinkSampleActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="dev-vengateshm.com"
                    android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".stopwatch.StopWatchActivity" />
        <activity android:name=".location_updates.LocationUpdatesActivity" />
        <activity android:name=".di.SampleDiActivity" />
        <activity android:name=".recomposition_debugging.RecompositionDebuggingActivity" />
        <activity android:name=".compose_optimization.ComposeOptimizationActivity" />

        <activity
            android:name=".custom_composables.CustomComposablesActivity"
            android:exported="true" />
        <activity
            android:name=".compose_testing.ComposeTestingActivity"
            android:exported="true" />
        <activity
            android:name=".compose_states.ComposeStatesActivity"
            android:exported="true" />
        <activity
            android:name=".custom_shapes.CustomShapesActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.ComposeMaterial3Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".functional_programming.FunctionalProgrammingActivity"
            android:exported="true" />
        <activity
            android:name=".avoid_duplication.AvoidDuplicationActivity"
            android:exported="true" />
        <activity
            android:name=".lottie_animation.LottieAnimationActivity"
            android:exported="true" />
        <activity
            android:name=".games.TicTacToeActivity"
            android:exported="true" />
        <activity
            android:name=".compose_apis.ComposeApisActivity"
            android:exported="true" />
        <activity
            android:name=".search_functionality.SearchFunctionalityActivity"
            android:exported="true" />
        <activity
            android:name=".nested_navigation.NestedNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".custom_layouts.CustomLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".navigate_back_with_result.NavigateBackWithResultActivity"
            android:exported="true" />
        <activity
            android:name=".sharing_data_btw_screens.SharingDataActivity"
            android:exported="true" />
        <activity
            android:name=".compose_performance.ComposePerformanceSampleActivity"
            android:exported="true" />
        <activity
            android:name=".local_notification.LocalNotificationActivity"
            android:exported="true" />

        <receiver android:name=".local_notification.CounterNotificationReceiver" />

        <activity
            android:name=".ktor_client_sample.KtorClientSampleActivity"
            android:exported="true" />
        <activity
            android:name=".performance_tips.PerformanceTipsActivity"
            android:exported="true" />
        <activity
            android:name=".graph_ql_app.countries_api.GraphQLActivity"
            android:exported="true" />
        <activity
            android:name=".content_provider.ContentProviderSampleActivity"
            android:exported="true" />
        <activity
            android:name=".bluetooth.presentation.BluetoothActivity"
            android:exported="true" />
        <activity
            android:name=".modifiers.ModifiersSampleActivity"
            android:exported="true" />
        <activity
            android:name=".number_guessing_game.NumberGuessingActivity"
            android:exported="true" />
        <activity
            android:name=".pie_chart.PieChartActivity"
            android:exported="true" />
        <activity
            android:name=".room_db.RoomDbSampleActivity"
            android:exported="true" />
        <activity
            android:name=".compose_modifiers.ComposeModifiersActivity"
            android:exported="true" />

        <!--<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />-->
        <activity
            android:name=".ad_integration.SampleAdActivity"
            android:exported="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".apps.quiz.QuizAppMainActivity"
            android:exported="true" />
        <activity
            android:name=".custom_progress_bar.CustomProgressBarActivity"
            android:exported="true" />
        <activity
            android:name=".window_inset.WindowInsetSampleActivity"
            android:exported="true" />
        <activity
            android:name=".navigation_animation.NavigationAnimationActivity"
            android:exported="true" />
        <activity
            android:name=".mvi.ModelViewIntentSampleActivity"
            android:exported="true" />
        <activity
            android:name=".games.color_finder.ColorFinderActivity"
            android:exported="true" />
        <activity
            android:name=".tablayout_lazycolumn_sync.TabLayoutLazyColumnActivity"
            android:exported="true" />
        <activity
            android:name=".image_loader.ImageLoaderActivity"
            android:exported="true" />
        <activity
            android:name=".one_off_events.OneOffEventsActivity"
            android:exported="true" />
        <activity
            android:name=".gestures.GesturesSampleActivity"
            android:exported="true" />
        <activity
            android:name=".coil_image_caching.CoilImageCachingActivity"
            android:exported="true" />
        <activity
            android:name=".multiple_backstacks.MultipleBackStacksActivity"
            android:exported="true" />
        <activity
            android:name=".games.GamesActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.android_kotlin_compose_practice.doze_mode_test.DozeModeTestActivity"
            android:exported="true" />
        <activity
            android:name=".graph_ql_app.rickandmorty_api.RickAndMortyApiActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.list_detail.ListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".app_shortcuts.AppShortCutActivity"
            android:exported="true" />
        <activity
            android:name=".biometric.BiometricAuthActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.apps.gemini_ai_chat.ChatAiActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.other_concepts.ml_kit.MlKitActivity"
            android:exported="true" />
        <activity
            android:name=".res_strings_cache_in_viewmodel.ResStringCacheInViewModelActivity"
            android:exported="true" />
        <activity
            android:name=".manual_di.ManualDiActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.other_concepts.shaders.AGSLShaderActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.ui_concepts.infinite_scroll.InfiniteScrollActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.apps.calendar.CalendarAppActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.other_concepts.presenter_retain.PresenterRetainActivity"
            android:exported="true" />
        <activity
            android:name=".screenshot_detection.ScreenShotActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.api_kotlin.coroutines.CoroutineDispatchersActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.ui_concepts.deep_links.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="artemis.com"
                    android:scheme="example" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.vengateshm.xml_kotlin.XMLKotlinActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.xml_kotlin.lifecycles.activity.MyActivity1"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.xml_kotlin.memory_leak.A1"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.xml_kotlin.memory_leak.A2"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.xml_kotlin.memory_leak.A3"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.api_android.bound_service.MyBoundServiceActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.di.koin.KoinDiActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.compose_material3.di.hilt.HiltDiActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.xml_kotlin.window.WindowInsetsActivity"
            android:exported="true" />
        <activity
            android:name="dev.vengateshm.navigation3_sample.Navigation3MainActivity"
            android:exported="true" />
        <!-- Register AlarmReceiver -->
        <receiver
            android:name=".doze_mode_test.AlarmReceiver"
            android:enabled="true"
            android:exported="false"> <!-- Set exported to false to prevent external access -->
            <intent-filter>
                <action android:name="dev.vengateshm.android_kotlin_compose_practice.ALARM_TRIGGER" />
            </intent-filter>
        </receiver>
        <service
            android:name=".push_notifications.AppPushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
    </application>

</manifest>