<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity
            android:name=".ComposeMaterial3Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="foo" />
                <data android:host="arabica.com" />
                <data android:host="www.arabica.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".apps.gemini_ai_chat.ChatAiActivity"
            android:exported="true" />
        <activity
            android:name=".other_concepts.ml_kit.MlKitActivity"
            android:exported="true" />
        <activity
            android:name=".other_concepts.shaders.AGSLShaderActivity"
            android:exported="true" />
        <activity
            android:name=".ui_concepts.infinite_scroll.InfiniteScrollActivity"
            android:exported="true" />
        <activity
            android:name=".apps.calendar.CalendarAppActivity"
            android:exported="true" />
        <activity
            android:name=".other_concepts.presenter_retain.PresenterRetainActivity"
            android:exported="true" />
        <activity
            android:name=".api_kotlin.coroutines.CoroutineDispatchersActivity"
            android:exported="true" />
        <activity
            android:name=".ui_concepts.deep_links.DeepLinkActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="artemis.com"
                    android:scheme="example" />
            </intent-filter>
        </activity>
        <activity
            android:name=".testing.compose_with_view.ComposeWithViewRootActivity"
            android:exported="true" />
        <activity
            android:name=".testing.compose_with_view.FeedActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".testing.compose_with_view.ProfileActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".api_compose.navigation.set_result.A3Activity"
            android:exported="true" />

        <service
            android:name=".api_android.foreground_service.counter.CounterService"
            android:exported="true"
            android:foregroundServiceType="specialUse" />
        <service
            android:name=".api_android.foreground_service.location_tracking.LocationTrackingService"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>
</manifest>