<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application>
        <activity
            android:name=".ComposeMaterial3Activity"
            android:exported="true" />
        <activity
            android:name=".message_bar.MessageBarActivity"
            android:exported="true" />
        <activity
            android:name=".expandable_list.ExpandableListActivity"
            android:exported="true" />
        <activity
            android:name=".bottom_sheet.BottomSheetActivity"
            android:exported="true" />
        <activity
            android:name=".list_detail.ListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".navigation_voyager.VoyagerNavigationActivity"
            android:exported="true" />
        <activity android:name=".gemini_ai_chat.ChatAiActivity"
            android:exported="true"/>
        <activity android:name=".ml_kit.MlKitActivity"
            android:exported="true"/>
        <activity
            android:name=".multi_select_list_view.MultiSelectionListActivity"
            android:exported="true" />
        <activity android:name=".shaders.AGSLShaderActivity"
            android:exported="true"/>
        <activity android:name=".infinite_scroll.InfiniteScrollActivity"
            android:exported="true"/>
        <activity
            android:name=".app.calendar.CalendarAppActivity"
            android:exported="true" />
        <activity
            android:name=".pull_to_refresh.PullToRefreshActivity"
            android:exported="true" />
        <activity
            android:name=".presenter_retain.PresenterRetainActivity"
            android:exported="true" />
        <activity
            android:name=".coroutines.dispatchers.CoroutineDispatchersActivity"
            android:exported="true" />
        <receiver android:name=".app_widget.CounterGlanceAppWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/cmaterial3_counter_widget_info"/>
        </receiver>
    </application>
</manifest>